@font-face {
    font-family: 'GothaProReg';
    src: url('../fonts/GothaProReg.eot');
    src: url('../fonts/GothaProReg.eot') format('embedded-opentype'), url('../fonts/GothaProReg.woff2') format('woff2'), url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.ttf') format('truetype'), url('../fonts/GothaProReg.svg#GothaProReg') format('svg');
}