@media(max-width:1024px) {
    .vertical-slider {
        width: 1024px;
        height: 768px;
        .vertical-slider__item {
            width: 1024px;
            height: 768px;
        }
    }
}