@import "global";
@import "vars";
@import "fonts";
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    font-family: "GothaProReg";
    margin: 0;
    padding: 0;
}

//scroll down start
.scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: inherit;
    min-height: 120px;
    text-align: center;
    background-image: url(../images/icons/light_01.png), url(../images/icons/light_02.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center;
    background-size: cover;
    &__text {
        color: #fff;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .arrow-down {
        border: none;
        background-color: transparent;
        outline: none;
    }
    &__arrow {
        width: 45px;
        min-height: 23px;
        padding-bottom: 10px;
        cursor: pointer;
    }
}

//scroll down end
//slider dots start
.slider-dots {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 27px;
    display: flex;
    flex-direction: column;
    &__item {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        &+& {
            margin-top: 10px;
        }
    }
    &__item.active {
        background-color: $orange;
    }
}

//slider dots end
//vertical slider start
.vertical-slider {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    // border: 10px solid red;
    .column {
        width: inherit;
        position: relative;
        overflow: hidden;
        top: 0;
        transition: all 1s;
    }
    .line-slider__item {
        position: relative;
    }
    .vertical-slider__item {
        width: 1024px;
        height: 768px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        position: relative;
        .slider__item-content {
            flex-grow: 1;
            color: $blue;
        }
        .slider__item-title {
            font-size: 50px;
            line-height: 60px;
            padding: 150px 10px 10px 70px;
        }
        .slider__item-title.white {
            color: #fff;
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
            margin-top: 100px;
        }
        .slider__item-label {
            font-size: 20px;
        }
        #label-1 {
            position: absolute;
            top: 395px;
            left: 230px;
        }
        #label-2 {
            position: absolute;
            top: 500px;
            left: 390px;
        }
        #label-3 {
            position: absolute;
            top: 280px;
            left: 620px;
        }
        #label-4 {
            position: absolute;
            top: 480px;
            left: 780px;
        }
    }
    .view_port {
        border-radius: 50%;
        border: solid 1px rgb(207, 20, 55);
        background-color: rgba(222, 121, 27, .3);
        position: relative;
        overflow: hidden;
    }
    .pulse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: radial-gradient(rgba(222, 121, 27, .5), rgba(207, 20, 55, .5));
        height: 30px;
        width: 30px;
        border-radius: 50%;
        animation: 3s linear 0s infinite normal round_move;
    }
    .pulse-2 {
        position: absolute;
        animation: 3s linear 0s infinite normal round_move_small;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: radial-gradient(rgba(222, 121, 27, .5), rgba(207, 20, 55, .5));
        height: 0px;
        width: 0px;
        border-radius: 50%;
    }
    .circle-1 {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 420px;
        left: 267px;
    }
    .circle-2 {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 532px;
        left: 475px;
    }
    .circle-3 {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 262px;
        left: 562px;
    }
    .circle-4 {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 513px;
        left: 817px;
    }
    @keyframes round_move {
        from {
            height: 25px;
            width: 25px;
        }
        to {
            height: 50px;
            width: 50px;
        }
    }
    @keyframes round_move_small {
        from {
            height: 0px;
            width: 0px;
        }
        to {
            height: 25px;
            width: 25px;
        }
    }
    .ice-absolute {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #ice_01 {
        top: 170px;
        left: 95px;
        width: 40px;
        height: 40px;
    }
    #ice_02 {
        top: 459px;
        left: 252px;
        width: 100px;
        height: 100px;
        transform: rotate(30deg);
    }
    #ice_03 {
        top: 550px;
        left: 750px;
        width: 75px;
        height: 75px;
        filter: blur(5px);
        transform: rotate(-40deg);
    }
    #ice_04 {
        top: 40px;
        right: 0;
        width: 150px;
        height: 200px;
        filter: blur(5px);
    }
    #ice_05 {
        bottom: 30px;
        left: 30px;
        width: 200px;
        height: 200px;
        opacity: .5;
        filter: blur(3px);
    }
    #ice_06 {
        top: 200px;
        left: 750px;
        width: 100px;
        height: 100px;
        opacity: .5;
        transform: rotate(50deg);
    }
    #ice_07 {
        top: 110px;
        right: 70px;
        width: 40px;
        height: 40px;
        opacity: .5;
        transform: rotate(-10deg);
    }
    #ice_08 {
        top: 240px;
        left: 50px;
        width: 100px;
        height: 100px;
        opacity: .5;
        transform: rotate(70deg);
    }
    #ice_09 {
        top: 90px;
        left: 500px;
        width: 40px;
        height: 40px;
        opacity: .5;
        transform: rotate(-20deg);
    }
    #ice_10 {
        bottom: 0;
        right: 0;
        width: 200px;
        height: 200px;
        opacity: .5;
        transform: rotate(-10deg);
        filter: blur(3px);
    }
    #ice_11 {
        top: 100px;
        left: 0;
        width: 35px;
        height: 35px;
        opacity: .4;
        transform: rotate(-10deg);
    }
    #ice_12 {
        bottom: -40px;
        left: 150px;
        width: 200px;
        height: 200px;
        opacity: .5;
        transform: rotate(-30deg);
        filter: blur(3px);
    }
    #ice_13 {
        top: 210px;
        right: -20px;
        width: 100px;
        height: 100px;
        opacity: .5;
        transform: rotate(70deg);
    }
}

//vertical slider end
//horizontal slider start
.line-slider {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    .line {
        height: 768px;
        position: relative;
        overflow: hidden;
        left: 0;
        transition: all 1s;
    }
    .line-slider__item {
        width: 1024px;
        height: 768px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
    }
    .line-slider__toggle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        .toggle-box {
            position: relative;
            margin-bottom: 30px;
        }
        .toggle-line {
            width: 600px;
            height: 12px;
            background-color: rgb(209, 234, 255);
            opacity: 0.302;
            position: relative;
        }
        .toggle-line__active {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(209, 234, 255);
            height: 12px;
        }
        .toggle-years {
            color: #fff;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        .toggle-icon {
            position: absolute;
            top: -20px;
            left: -20px;
            img {
                height: 55px;
            }
        }
    }
}

//horizontal slider end