@import "global";
@import "vars";
@import "fonts";
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Gotham Pro';
    margin: 0;
    padding: 0;
}

//scroll down start
.scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: inherit;
    min-height: 120px;
    text-align: center;
    background-image: url(../images/icons/light_01.png), url(../images/icons/light_02.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center;
    background-size: cover;
    &__text {
        color: #fff;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .arrow-down {
        border: none;
        background-color: transparent;
        outline: none;
    }
    &__arrow {
        width: 45px;
        min-height: 23px;
        padding-bottom: 10px;
        cursor: pointer;
    }
}

//scroll down end
//slider dots start
.slider-dots {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 27px;
    display: flex;
    flex-direction: column;
    &__item {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        &+& {
            margin-top: 10px;
        }
    }
    &__item.active {
        background-color: $orange;
    }
}

//slider dots end
//vertical slider start
.vertical-slider {
    font-family: 'Gotham Pro';
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    // border: 10px solid red;
    .column {
        width: inherit;
        position: relative;
        overflow: hidden;
        top: 0;
        transition: all 1s;
    }
    .line-slider__item {
        position: relative;
    }
    .vertical-slider__item {
        width: 1024px;
        height: 768px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        position: relative;
        .slider__item-content {
            flex-grow: 1;
            color: $blue;
        }
        .slider__item-title {
            font-size: 50px;
            line-height: 60px;
            padding: 150px 10px 10px 70px;
            max-width: 880px;
        }
        .slider__item-title.white {
            font-family: 'Gotham Pro Light';
            color: #fff;
            max-width: 520px;
            text-align: center;
            margin: 0 auto;
            margin-top: 100px;
        }
        .slider__item-label {
            font-family: 'Lato Regular';
            font-size: 20px;
        }
        #label-1 {
            position: absolute;
            top: 395px;
            left: 230px;
        }
        #label-2 {
            position: absolute;
            top: 500px;
            left: 390px;
        }
        #label-3 {
            position: absolute;
            top: 280px;
            left: 620px;
        }
        #label-4 {
            position: absolute;
            top: 480px;
            left: 780px;
        }
    }
    .view_port {
        border-radius: 50%;
        border: solid 1px rgb(207, 20, 55);
        background-color: rgba(222, 121, 27, 0.3);
        position: relative;
        overflow: hidden;
    }
    .pulse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: radial-gradient( rgba(222, 121, 27, 0.5), rgba(207, 20, 55, 0.5));
        height: 30px;
        width: 30px;
        border-radius: 50%;
        animation: 3s linear 0s infinite normal round_move;
    }
    .pulse-2 {
        position: absolute;
        animation: 3s linear 0s infinite normal round_move_small;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: radial-gradient( rgba(222, 121, 27, 0.5), rgba(207, 20, 55, 0.5));
        height: 0px;
        width: 0px;
        border-radius: 50%;
    }
    .circle-1 {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 420px;
        left: 267px;
    }
    .circle-2 {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 532px;
        left: 475px;
    }
    .circle-3 {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 262px;
        left: 562px;
    }
    .circle-4 {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 513px;
        left: 817px;
    }
    @keyframes round_move {
        from {
            height: 25px;
            width: 25px;
        }
        to {
            height: 50px;
            width: 50px;
        }
    }
    @keyframes round_move_small {
        from {
            height: 0px;
            width: 0px;
        }
        to {
            height: 25px;
            width: 25px;
        }
    }
    .ice-absolute {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #ice_01 {
        top: 170px;
        left: 95px;
        width: 40px;
        height: 40px;
    }
    #ice_02 {
        top: 459px;
        left: 252px;
        width: 100px;
        height: 100px;
        transform: rotate(30deg);
    }
    #ice_03 {
        top: 550px;
        left: 750px;
        width: 75px;
        height: 75px;
        filter: blur(5px);
        transform: rotate(-40deg);
    }
    #ice_04 {
        top: 40px;
        right: 0;
        width: 150px;
        height: 200px;
        filter: blur(5px);
    }
    #ice_05 {
        bottom: 30px;
        left: 30px;
        width: 200px;
        height: 200px;
        opacity: 0.5;
        filter: blur(3px);
    }
    #ice_06 {
        top: 200px;
        left: 750px;
        width: 100px;
        height: 100px;
        opacity: 0.5;
        transform: rotate(50deg);
    }
    #ice_07 {
        top: 110px;
        right: 70px;
        width: 40px;
        height: 40px;
        opacity: 0.5;
        transform: rotate(-10deg);
    }
    #ice_08 {
        top: 240px;
        left: 50px;
        width: 100px;
        height: 100px;
        opacity: 0.5;
        transform: rotate(70deg);
    }
    #ice_09 {
        top: 90px;
        left: 500px;
        width: 40px;
        height: 40px;
        opacity: 0.5;
        transform: rotate(-20deg);
    }
    #ice_10 {
        bottom: 0;
        right: 0;
        width: 200px;
        height: 200px;
        opacity: 0.5;
        transform: rotate(-10deg);
        filter: blur(3px);
    }
    #ice_11 {
        top: 100px;
        left: 0;
        width: 35px;
        height: 35px;
        opacity: 0.4;
        transform: rotate(-10deg);
    }
    #ice_12 {
        bottom: -40px;
        left: 150px;
        width: 200px;
        height: 200px;
        opacity: 0.5;
        transform: rotate(-30deg);
        filter: blur(3px);
    }
    #ice_13 {
        top: 210px;
        right: -20px;
        width: 100px;
        height: 100px;
        opacity: 0.5;
        transform: rotate(70deg);
    }
}

//vertical slider end
//horizontal slider start
.line-slider {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    .line {
        height: 768px;
        position: relative;
        overflow: hidden;
        left: 0;
        transition: all 1s;
    }
    .line-slider__item {
        width: 1024px;
        height: 768px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
    }
    .line-slider__item-title {
        color: #fff;
        font-size: 30px;
        padding-top: 115px;
        padding-left: 80px;
    }
    .first-slide-title {
        margin-bottom: 60px;
    }
    .line-slider__toggle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        .toggle-box {
            position: relative;
            margin-bottom: 30px;
        }
        .toggle-line {
            width: 600px;
            height: 12px;
            background-color: rgb(209, 234, 255);
            opacity: 0.302;
            position: relative;
        }
        .toggle-line__active {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(209, 234, 255);
            height: 12px;
        }
        .toggle-years {
            color: #fff;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            font-size: 20px;
        }
        .toggle-icon {
            position: absolute;
            top: -20px;
            left: -20px;
            img {
                height: 55px;
            }
        }
    }
    .line-slider__item-content {
        #two {
            position: relative;
            &::before {
                font-size: 20px;
                position: absolute;
                content: "Инкретиновый эффект";
                text-align: right;
                top: 50%;
                max-width: 150px;
                left: -160px;
                transform: translate(0, -50%);
            }
        }
        #three {
            position: relative;
            &::before {
                font-size: 20px;
                position: absolute;
                content: "Дефект α-клеток";
                text-align: left;
                top: 50%;
                max-width: 90px;
                right: -100px;
                transform: translate(0, -50%);
            }
        }
        #four {
            position: relative;
            &::before {
                font-size: 20px;
                position: absolute;
                content: "4 Жировые клетки";
                text-align: left;
                top: 50%;
                max-width: 90px;
                right: -100px;
                transform: translate(0, -50%);
            }
        }
        #eight {
            position: relative;
            &::before {
                font-size: 20px;
                position: absolute;
                content: "8 Почки";
                text-align: right;
                top: 50%;
                max-width: 60px;
                left: -70px;
                transform: translate(0, -50%);
            }
        }
        color: #fff;
        max-width: 940px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        .content-row {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
        }
        .first-row {
            align-items: flex-end;
            .round {
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/arrow_long.svg);
                    background-repeat: no-repeat;
                    bottom: -35px;
                    left: 15px;
                    width: 40px;
                    height: 20px;
                    transform: rotate(-90deg);
                }
            }
        }
        .last-row {
            align-items: flex-start;
            .round {
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/arrow_long.svg);
                    background-repeat: no-repeat;
                    top: -35px;
                    right: 15px;
                    width: 40px;
                    height: 20px;
                    transform: rotate(90deg);
                }
            }
        }
        .center {
            .arrow-right {
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/arrow_long.svg);
                    background-repeat: no-repeat;
                    top: 50%;
                    right: -80px;
                    width: 80px;
                    height: 20px;
                    transform: translate(0, -50%) rotate(180deg);
                }
            }
            .arrow-left {
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/arrow_long.svg);
                    background-repeat: no-repeat;
                    top: 50%;
                    left: -80px;
                    width: 80px;
                    height: 20px;
                }
            }
        }
        .content-row.center {
            align-items: center;
            margin-top: 45px;
            margin-bottom: 45px;
        }
        .round-img.medium {
            img {
                max-width: 40px;
            }
        }
        .round {
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            p {
                font-size: 60px;
            }
        }
        .round.medium {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }
        .round-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            img {
                max-width: 56px;
            }
        }
        p.number {
            font-family: 'Lato Semibold';
            font-size: 36px;
        }
        p.label {
            font-family: 'Lato Medium';
            font-size: 22px;
            margin-bottom: 10px;
        }
        .label.left {
            text-align: left;
        }
        .label.label-20 {
            font-size: 20px;
        }
        .content-row__box {
            display: flex;
            flex-direction: column;
            p.rectangle {
                font-family: 'Lato Medium';
                font-size: 20px;
                padding: 40px 55px;
                border: 1px solid #fff;
                margin-bottom: -15px;
            }
            p.rectangle-big {
                padding: 50px 110px;
                font-size: 25px;
                margin-bottom: 0;
            }
        }
        .content-row__box.line-box {
            display: flex;
            align-items: center;
        }
        .first-slide-box+.first-slide-box {
            margin-left: 80px;
        }
        .second-slide-round+.second-slide-round {
            margin-left: 90px;
        }
        .abs-arrow {
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            height: 15px;
            background-image: url(../images/icons/arrow_long.svg);
        }
        #arrow-01 {
            width: 180px;
            top: calc(50% + 20px);
            left: 50%;
            transform: translate(-120%) rotate(-40deg);
        }
        #arrow-02 {
            width: 180px;
            top: calc(50% + 20px);
            left: 50%;
            transform: translate(20%) rotate(-140deg);
        }
        #arrow-03 {
            width: 50px;
            top: calc(50% + 25px);
            left: 50%;
            transform: translate(-50%) rotate(-90deg);
        }
        #arrow-04 {
            width: 60px;
            top: calc(50% + 110px);
            left: calc(50% - 160px);
            transform: translate(-50%) rotate(-180deg);
        }
        #arrow-05 {
            width: 60px;
            top: calc(50% + 110px);
            left: calc(50% + 160px);
            transform: translate(-50%);
        }
    }
    .line-slider__item-content.column-flex.bottom {
        margin-top: 100px;
    }
    .line-slider__item-content.column-flex {
        display: flex;
        flex-direction: row;
        .content__box.big-margin {
            margin: 70px 0;
            align-items: flex-start;
        }
        .content-column.top {
            margin-top: -100px;
            margin-left: 5px;
            margin-right: 5px;
            position: relative;
            .abs-arrow {
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                height: 15px;
                background-image: url(../images/icons/arrow_long.svg);
            }
            #arrow-3-01 {
                width: 120px;
                top: 90px;
                left: 0;
                transform: translate(-5%) rotate(-20deg);
            }
            #arrow-3-02 {
                width: 120px;
                top: 110px;
                left: 10px;
                transform: translate(-5%) rotate(160deg);
            }
            #arrow-3-03 {
                width: 120px;
                top: 90px;
                left: 220px;
                transform: translate(-5%) rotate(-160deg);
            }
            #arrow-3-04 {
                width: 120px;
                top: 110px;
                left: 220px;
                transform: translate(-5%) rotate(20deg);
            }
            #arrow-3-05 {
                width: 150px;
                top: 150px;
                left: 0px;
                transform: translate(-5%) rotate(-40deg);
            }
            #arrow-3-06 {
                width: 150px;
                top: 170px;
                left: 10px;
                transform: translate(-5%) rotate(140deg);
            }
            #arrow-3-07 {
                width: 150px;
                top: 150px;
                left: 200px;
                transform: translate(-5%) rotate(-140deg);
            }
            #arrow-3-08 {
                width: 150px;
                top: 170px;
                left: 190px;
                transform: translate(-5%) rotate(40deg);
            }
            #arrow-3-09 {
                width: 230px;
                top: 240px;
                left: 67px;
                height: 20px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-10 {
                width: 70px;
                top: 165px;
                left: 115px;
                height: 15px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-11 {
                width: 70px;
                top: 165px;
                left: 160px;
                height: 15px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-12 {
                width: 70px;
                top: 320px;
                left: 115px;
                height: 15px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-13 {
                width: 70px;
                top: 320px;
                left: 160px;
                height: 15px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-14 {
                width: 30px;
                top: 360px;
                left: -50px;
                height: 10px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-15 {
                width: 30px;
                top: 400px;
                left: 170px;
                height: 10px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-16 {
                width: 30px;
                top: 400px;
                left: 150px;
                height: 10px;
                transform: translate(-5%) rotate(90deg);
            }
            #arrow-3-17 {
                width: 30px;
                top: 180px;
                left: 400px;
                height: 10px;
                transform: translate(-5%) rotate(90deg);
            }
            #arrow-3-18 {
                width: 30px;
                top: 180px;
                left: 420px;
                height: 10px;
                transform: translate(-5%) rotate(-90deg);
            }
            #arrow-3-19 {
                width: 200px;
                top: 230px;
                left: -40px;
                transform: translate(-5%) rotate(-50deg);
            }
            #arrow-3-20 {
                width: 100px;
                top: 420px;
                left: 0px;
                transform: translate(-5%) rotate(180deg);
            }
            #arrow-3-21 {
                width: 120px;
                top: 380px;
                left: -10px;
                transform: translate(-5%) rotate(210deg);
            }
        }
        .max-width.absolute {
            position: relative;
            &::after {
                position: absolute;
                content: '↑ глюкагон';
                color: #fff;
                font-size: 15px;
                font-family: 'Lato Medium';
                left: 10px;
                top: 70px;
            }
        }
        .content__box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 30px;
            max-width: 335px;
            .max-width {
                min-width: 160px;
            }
            .right {
                text-align: right;
                margin-right: 10px;
            }
            .round.medium {
                margin: 0;
                min-width: 60px;
            }
            .left {
                margin-left: 10px;
            }
        }
        .content__box.column {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            .stroka {
                display: flex;
                align-items: center;
                justify-content: center;
                p+p {
                    margin: 15px;
                }
            }
        }
        .content__box.background {
            background: rgb(255, 255, 255);
            background: linear-gradient(175deg, rgba(255, 255, 255, .1) 0%, rgba(112, 0, 163, 0) 100%);
            width: 260px;
            height: 200px;
            border-radius: 50px 50px 0 0;
            padding: 25px 15px;
        }
        .content__box.center {
            justify-content: center;
        }
        .text-center {
            text-align: center;
        }
        .content__box.start {
            align-items: flex-start;
            justify-content: flex-start;
        }
        .content__box.align-center {
            align-items: center;
        }
        .margin10 {
            margin-bottom: 10px;
        }
    }
}

//horizontal slider end